*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
background: #080808;
color: azure;
text-align: center;
}

#header {
width: 100%;
height: 20vh;
background-size: cover;
background-position: center;
}

#Title {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
    height: 10vh;
}

.container2 {
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
    margin-left: -50px;
}

/*this one is for the susun2 nav*/
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

/*this is for the 'a tag' style*/
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family:'Franklin Gothic Medium' ;
    position: relative;
}

/*Hover effect*/
nav ul li a::after {
    content: '';
    width: 0%;
    height:3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/*BANNER*/
/*This is for the banner swiper*/
.Graphic-container {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
}

.Lecturers-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
}

.swiper {
    width: 80%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #ffffff;
}

.swiper .swiper-pagination-bullet-active{
    background: #ffffff;
}


/*MY EDITORIAL DESIGNS PAGE*/
#Editorial-Designs {
    padding: 30px 0;    
    text-align: center;
}

.e-books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.e-books div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.e-books div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.e-books div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.e-books div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
} 

.e-books div:hover {
    background: #ff004f;
    transform: translate(-10px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5s;
}

.btn:hover {
    background: #262626;
}


#Editorial-Designs2 {
    padding: 50px 0;    
    margin-top: 380px;
    text-align: center;
}


/*team container style for MT */
.team-container-MT{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
}

.team-container-MT h3 span {
    color: #dcfaff;
    font-family: 'Dancing Script', cursive;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 150px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(Images/Tiktokers.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}


.img-box:nth-child(2){
    background: url(Images/Webmaster.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3){
    background: url(Images/Editorial.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4){
    background: url(Images/Swadaya.jpg);
    background-size: cover;
    background-position: center;
}

.img-box h3 {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover{
    width: 400px;
    cursor: pointer;
}

.img-box:hover h3{
    opacity: 1;
    bottom: 25px;
}


/*COMPANIES*/
#portfolio{
    padding: 50px 0;
    margin-top: 50vh;
    text-align: center;
}

.work-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(255, 0, 79, 1));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}


/*MY GRAPHIC DESIGN GALLERY PAGE*/
.Posters-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;

}

.Graphic-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.Graphic-gallery img {
    width: 100%;
}

/*MY PHOTO GALLERY*/
.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
  }
  .gallery:hover .gallery__image {
    filter: grayscale(1);
  }
  .gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  .gallery__link {
    margin: 2px;
    overflow: hidden;
  }
  .gallery__link:hover .gallery__image {
    filter: grayscale(0);
  }
  .gallery__link:hover .gallery__caption {
    opacity: 1;
  }
  .gallery__thumb {
    position: relative;
  }
  .gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
  }
  .gallery__image:hover {
    transform: scale(1.1);
  }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }

  /*VIDEOS*/
#wrapper { 
    width: 1095px; 
    height: auto; 
    margin: 0 auto;
    position: center;
    margin-top: 50px;
} 

#wrapper h1{
    margin-bottom: 30px;
}

#wrapper p{
    margin-top: 10px;
    margin-bottom: 30px;
}

#home1 { 
    width: 47.5%; 
    height: 300px; 
    float: left; 
    margin-right: 5%;
} 

#home2 { 
    width: 47.5%; 
    height: 300px; 
    float: left; 
}

.clear{
    clear: both;
}

@media (max-width:767px) {
    #wrapper{
        width: 100%;
        height: auto;
    }
    #home1 {
        width: 100%;
        height: auto;
        float: none;
    }
    #home2 {
        width: 100%;
        height: auto;
        float: none;
    }
}
